@import 'variables.scss';
@import 'breakpoints.scss';
.btn {
  height: 34px;
  width: 100px;
  font-size: 16px;
  line-height: 34px;
  border: none;
  border-radius: 80px;
  color: $text-color-black;
  background-color: $color-yellow;
  text-align: center;
}
.title {
  padding: 140px 16px 50px;
  line-height: 40px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
input {
  height: 54px;
  width: 100%;
  background: $color-dark-white;
  border: 1px solid $color-grey;
  border-radius: 4px;
  padding-left: 16px;
  color: $color-dark-grey;
  outline: none;
}
legend {
  padding-bottom: 7px;
}

.registr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__logo-success {
    max-width: 328px;
    max-height: 290px;
  }
  &__title {
    margin-bottom: 50px;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  display: flex;
  margin: 20px auto;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid rgba(0, 189, 211, 1);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
