.profiles {
  padding: 0;
  width: 100vw;
}

@media (min-width: 1024px) {
  .profiles {
    max-width: 1170px;
  }
}

.profiles__cards {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 16px;
  text-align: center;
}

@media (min-width: 368px) and (max-width: 768px) {
  .profiles__cards {
    grid-template-columns: 1fr 1fr;
    width: 100vw;
  }
}

@media (min-width: 769px) {
  .profiles__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .profiles__cards {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1170px;
  }
}

.profiles__card {
  display: flex;
  max-width: 370px;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
  max-width: 370px;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  background-color: white;
}

@media (min-width: 769px) {
  .profiles__card {
    padding: 0;
    padding-left: 16px;
    margin-bottom: 16px;
  }
}

@media (min-width: 368px) and (max-width: 768px) {
  .profiles__card {
    padding: 0;
    padding-left: 16px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1024px) {
  .profiles__card {
    min-width: 370px;
  }
}

.profiles__card_avatar {
  display: flex;
  min-width: 70px;
  min-height: 70px;
  margin: 20px auto;
}

.profiles__card_name {
  margin-bottom: 20px;
}

.profiles__card_position {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profiles__card_email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profiles__card_phone {
  padding-bottom: 20px;
}

.profiles__btn {
  display: flex;
  justify-content: center;
}

@media (min-width: 368px) and (max-width: 768px) {
  .profiles__btn {
    margin-top: 34px;
    margin: 0 auto;
    width: 120px !important;
  }
}

@media (min-width: 1024px) {
  .profiles__btn {
    margin: 0 auto;
    width: 120px !important;
  }
}

@media (min-width: 769px) {
  .profiles__btn {
    margin: 0 auto;
    width: 120px !important;
  }
}

.disabled-btn {
  height: 34px;
  max-width: 100px;
  font-size: 16px;
  line-height: 34px;
  border: none;
  border-radius: 80px;
  color: white;
  background-color: #b4b4b4;
  text-align: center;
}

@media (min-width: 769px) {
  .disabled-btn {
    width: 100px;
  }
}
