$color-white: #ffffff;
$color-light-grey: #e5e5e5;
$color-blue: #00bdd3;
$color-light-blue: rgba(0, 189, 211, 1);
$color-grey: #d0cfcf;
$color-light: #f8f8f8;
$color-white-light: #eee;
$color-dark-white: rgba(248, 248, 248, 1);
$color-yellow: rgba(244, 224, 65, 1);
$text-color-grey: rgba(208, 207, 207, 1);
$text-color-light-grey: #7e7e7e;
$card-color-white: rgba(255, 255, 255, 1);
$text-color-dark: #2b292d;
$color-dark-grey: rgba(126, 126, 126, 1);
$text-color-black: rgba(0, 0, 0, 0.87);
